#geral{
    background-color:azure;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    
}

#caixaLogin{
    width: 180px;
    height: 150px;
    background-color: gainsboro;
    border: 1px solid black;
    padding: 1px;

}

.label-geral{
    padding: 3px;
    margin: 2px;
}

#botaoEntrar {
    height: 33px;
    color:white;
    text-decoration: none;
    justify-content: center;
    background-color: blue;
    display: flex;
    padding: 3px;
}
